
body {
    margin: 0px;
    padding: 0;
   background-color: #121113;
  }
  html{
    scroll-behavior: smooth;
  }
 h2,h1, h3, h4, h5, h6, p {
  font-family: sans-serif;
  color: white;
  margin: 0;
 }
  .navInter{
   display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
  
   
  }
  .title{
    font-size: larger;
  }
  .tituloPresentacion{
    font-family: sans-serif;
  }
  .DEv{
    color: #278066;
  }
 #imagenDeFondo{

  background-image: url('./fondoOS.avif');
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 150% ;
 }
 .overlay {

  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.738); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 2em;
}
.textoPresen{
  font-size: medium;
  font-family: sans-serif;
  text-align: center;
}
#link{
  margin: 3% 4% 3% 4% ;
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: 900;
 
}
.enlaces{
  display: flex;
  border: solid rgba(255, 255, 255, 0.276);
backdrop-filter: blur(50px);
  width: 29em;
  border-radius: 2em;

}
.yo{
  width: 20%;
  height: 30vh;
  border-radius: 1em;
  box-shadow: 4px 4px 6px;
  margin-left: 4em;
}
.sectionAbout{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;

}
.titleAbout{
 font-family: sans-serif;
 font-size: x-larger;
 border-bottom: solid;
 color: white;
}
.miFoto{
  width: 20%;
  height: auto;
  border:solid
}
.descripcion{

  width:100%;

}
.midescripcion{
  font-family: sans-serif;
  font-size: larger;
  color: rgb(156, 156, 156);
  padding: 0em 1em;
}
.sectionSkill{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(33, 47, 73);
  width: 100%;
  margin-top: 1em;
}

.olas{
  width: 100%;
  
}
.titleSkill{
  font-family: sans-serif;
  font-size: x-larger;
  border-bottom: solid;
  color: white;
}
.skillFront{
  display: flex;
}
.frontend{
  font-family: sans-serif;
  font-size: x-larger;
  border-bottom: solid;
  color: #c5c5c5;
  padding-left: 1em;
}
.frontImagen{
  width: 30%;
}
.backImagen{
  width: 30%;
}
.imagenesBack{
  width: 10%;
}
.Backend{
  font-family: sans-serif;
  font-size: x-larger;
  border-bottom: solid;
  color: #fff;
  padding-left: 1em;
}
.containerimgB{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.skillBack{
  display: flex;
}
.imagenesFront{
  max-width: 5em;
}
.containerimgF{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.imagenConNombre{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  background-color: rgb(122, 122, 247);
  border-radius: 1em;
  padding: 1em 1em;
  min-width: 4em;
  min-height: 1em;
  transition: transform 0.3s ease;
}
.imagenConNombre:hover{
  transform: translateY(-0.5em); 

}
.nombreImagen{
  font-family: sans-serif;
}
.sectionContact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionProyect{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajaProyectos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icons{
  display: flex;
  width: 100%;
  justify-content: right;
}
.Theicons{
 margin: 0.1em;
 transition:  0.5s ease;
 background-color: transparent;
 border: none;
}
.gr{
  padding: 0.3em;
}
.Theicons :hover{
background-color: #363331;
border-radius: 50%;
cursor: pointer;
}
.proyectt{
  margin: 1em 2em ;
  max-width:30em ;
 display: flex;
 flex-direction: column;
 padding: 1em;
 align-items: center;
 background: linear-gradient(to right, rgba(31, 31, 31, 0.9), hsl(0, 0%, 2%));
}
.titlecontact{
  font-family: sans-serif;
  font-size: x-larger;
  border-bottom: solid;
  color: white;
}
.card {
  display: flex;
  height: 20px;
  width: 300px;
  margin: 1em;
  background-color: gray;
  border-radius: 3em;
  padding: 0.8em ;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #c0c0c0;
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #58f262;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795E;
  background-color: #209978;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #17795E;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}
.t{
 display: flex;
 align-items: center;
}
@media (max-width: 768px) {
  .yo {
    width: 35%; 
    margin: 1em;
    height: 15vh;
  }
  .overlay{
    height: 46vh;
  }
  .tituloPresentacion{
    font-size: 0.9em;
  }
  #imagenDeFondo{
    height: 46vh;
  }
  .textoPresen{
    font-size: 0.4em;
    font-family: sans-serif;
    text-align: center;
  }
  .olas{
   width:100%;
   top:0
  }
  .titleAbout{
    font-family: sans-serif;
    font-size: medium;
    border-bottom: solid;
    color: white;
   }
   .midescripcion{
    font-family: sans-serif;
    font-size: small;
    color: #9c9c9c;
    
   }
  .skillBack{
    display: flex;
    flex-direction: column;
    align-items: center;
  }.skillFront{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }
  .frontImagen{
    width: 90%;
  }
  .backImagen{
    width: 90%;
  }
  .t{
   flex-direction: column;
  }
}